extends layout

block content
  block content
    h1= title
    form(method="post" action="/create")
      label(for="comment") XML goes here:
      input(type="text", name="comment", value=comment)
      input(type="submit", value="Save")
    br
    p= comments